/* -------  General Styles ------- */

body {
    font-family: "Lato", sans-serif;
  }
  
  h2 {
    font-size: 26px;
    font-weight: 400;
    margin: 0 10px 10px 10px;
    text-align: center;
    padding: 10px;
  }
  
  h3 {
    font-size: 18px;
    font-weight: 500;
  }
  
  p {
    line-height: 1.5em;
    margin: 0;
  }
  
  section {
    padding: 10px;
  }
  
  section.alternate-background {
    background-color: #00a699;
    color: #fff;
  }
  
  main img {
    width: 100px;
  }
  
  /* ---  Groups & Items --- */
  
  .group {
    display: flex;
    flex-direction: column;
  }

  
  .item {
    flex: 1;
    margin: 10px;
  }
  
  .item-double {
    flex: 2;
    margin: 10px;
  }

  .item img {
    width: 100%;
  }
  
  /* -------  Navigation ------- */
  
  header {
    background-color: #ff385c;
    padding: 20px 20px 0 20px;
    text-align: center;
    margin: 0;
  }
  
  header h1 {
    font-family: "Gochi Hand";
    font-size: 52px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding-top: 20px;
  }
  

  .logo {
    font-family: "Pangolin", cursive;
    font-size: 72px;
    color: #fff;
  }
  
  header nav {
    display: flex;
    justify-content: center;
  }

  header nav ul li {
    display: flex;
    padding-left: 0;
    list-style-type: none;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px 0 0;
  }
  
  header nav ul li a:hover {
    color: #bdbdbd;
    text-decoration: none;
  }

  header nav ul li:last-child a {
    margin-right: 0;
  }
  
  
  /* -------  Search Form ------- */
  form {
    border: 2px solid #ff385c;
    padding: 10px;
  }
  
  form label {
    font-weight: bold;
    margin-right: 20px;
  }

  label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin-right: 30px;
    margin-bottom: 5px;

}

  
  form select,
  form input {
    margin-bottom: 20px;
    width: 180px;
  }
  
  form button {
    background-color: #ff385c;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    width: 20%;
    margin-left: 40px;
  }
  
  /* -------  Footer ------- */
  
  footer {
    background-color: #ff385c;
  }
  
  footer p {
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  /* -------  Media Query ------- */

  @media all and (min-width: 800px) {
    section {
      padding: 0 5%;
    }
  
    .group {
      flex-direction: row;
    }

    header {
    
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
      }
    
      header h1 {
        display: flex;
        margin: 14px 0;
        padding-top: 6px;
      }
    
      header nav {
        margin-top: 8px;
      }
      header nav ul li a:hover {
        color: #bdbdbd;
      }
    }